{% extends "base.jinja" %}

{% block content %}

<h3>Gráficos de barras apiladas por test de usabilidad</h3>
<p>
    Para cada tests de usabilidad se muestran los tiempos totales de cada tarea, comparados
    entre las distintas versiones.
</p>
<div class="col-md-6">
    <div class="panel panel-default chart-container">
        <div class="panel-heading">
            <h3 class="panel-title">{{ dataset['title'] }}</h3>
        </div>
        <div class="panel-body">
            <svg id="chart" class="chart"></svg>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ static('charts/js/stacked-bar-chart.js') }}"></script>
{% endblock %}

{% block js_init %}
<script>

    stackedBarChart.draw({
        svgSelector: "#chart",
        dataset: {{ jsonify(dataset) }},
    });

</script>
{% endblock %}