<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <style>
        svg text {
            font-family: sans-serif;
        }
        svg g text {
            text-anchor: middle;
            fill: white;
            font-size: 13px;
        }
        svg rect:hover {
            opacity: 0.9;
        }
        svg {
            width: 600px;
            height: 400px;
        }
        </style>
    </head>
    <body>
        <svg></svg>
        <script type="text/javascript" src="{{ static('lib/d3/d3.v3.js') }}"></script>
        <script type="text/javascript" src="{{ static('lib/tinycolor/tinycolor-min.js') }}"></script>
        <script type="text/javascript" src="{{ static('charts/js/utils.js') }}"></script>
        <script type="text/javascript" src="{{ static('charts/js/bar-chart.js') }}"></script>
        <script>
            barChart.init({
                dataset: {{ jsonify(dataset) }},
            });
        </script>
    </body>

</html>