{% extends "base.jinja" %}

{% block content %}
<svg></svg>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ static('charts/js/bar-chart.js') }}"></script>
{% endblock %}

{% block js_init %}
<script>
    barChart.init({
        dataset: {{ jsonify(dataset) }},
    });
</script>
{% endblock %}
