<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <style>
        svg text {
            font-family: sans-serif;
        }
        svg g text {
            text-anchor: middle;
            fill: white;
            font-size: 13px;
        }
        svg rect:hover {
            opacity: 0.9;
        }
        </style>
    </head>
    <body>

    <script type="text/javascript" src="{{ static('d3/d3.v3.js') }}"></script>
    <script type="text/javascript" src="{{ static('charts/js/prueba.js') }}"></script>
    </body>

</html>