{% extends "base.jinja" %}

{% block content %}

{% for dataset in datasets %}
<div class="col-md-6">
    <div class="panel panel-default chart-container">
        <div class="panel-heading">
            <h3 class="panel-title">{{ dataset['title'] }}</h3>
        </div>
        <div class="panel-body">
            <svg id="chart-{{ loop.index }}" class="chart"></svg>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ static('charts/js/stacked-bar-chart.js') }}"></script>
{% endblock %}

{% block js_init %}
<script>


    {% for dataset in datasets %}
    stackedBarChart.draw(d3.select("#chart-{{ loop.index }}"), {{ jsonify(dataset) }});
    {% endfor %}

</script>
{% endblock %}
