<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <style>
        svg text {
            font-family: sans-serif;
        }
        svg .bar text {
            text-anchor: middle;
            fill: white;
            font-size: 13px;
        }
        svg .bar:hover {
            opacity: 0.9;
        }
        svg {
            width: 600px;
            height: 400px;
        }
        </style>
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <script type="text/javascript" src="{{ static('lib/d3/d3.v3.js') }}"></script>
        <script type="text/javascript" src="{{ static('lib/tinycolor/tinycolor-min.js') }}"></script>
        <script type="text/javascript" src="{{ static('charts/js/utils.js') }}"></script>
        {% block js %}{% endblock %}
        {% block js_init %}{% endblock %}
        </script>
    </body>
</html>